<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="jumbotron" align="center">
  <div class="container">
  <h1>Welcome to my KINGDOM!!</h1>
  <a class="btn btn-primary btn-lg" href="/me" type="button">Me</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/mine" role="button">Mine</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/food" role="button">Food</a>
  </div>
    </div>
    </div>
  </body>
</html>
